<body>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>결제하기</h1>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">

        <div class="col-lg-6">

            <!-- 주문상품정보 -->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">주문 상품 정보</h5>
  
                <% buyProduct.forEach((el, key)=>{%>
                <div class="row g-0">
                    <div class="col-md-4">
                      <img src="../<%= el.PRODUCT_IMG %>" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h6 class="card-title"><%=el.PRODUCT_NAME%></h6>
                        <p class="card-text"><%=el.CARTPRODUCT_CNT%></p>
                        <p class="card-text"><%=el.SUM_PRICE%>원</p>
                      </div>
                    </div>
                </div>
                <%})%>
              </div>
            </div>
            
            <!-- 주문자정보 -->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">주문하시는분</h5>
                  <div class="col-md-6">
                    <label for="inputName5" class="form-label">이름</label>
                    <input type="text" name="order_name" class="form-control" placeholder="Your Name" required>
                  </div>
                  <div class="col-md-6">
                    <label for="inputName5" class="form-label">전화번호</label>
                    <input type="text" name="order_phone" class="form-control" placeholder="Phone Number" required>
                  </div>
              </div>
            </div>
            
            <!-- 배송지정보 -->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">받으시는분</h5>
                  <div class="col-md-12">
                    <label for="inputName5" class="form-label">이름</label>
                    <input type="text" name="get_name" class="form-control" id="inputName5" required>
                  </div>
                  <div class="col-md-12">
                    <label for="inputName5" class="form-label">전화번호</label>
                    <input type="text" name="get_phone" class="form-control" id="inputName5" required>
                  </div>
                  <div class="col-12">
                    <label for="inputAddress5" class="form-label">주소</label>
                    <input type="text" name="get_addr" class="form-control" id="inputAddres5s" placeholder="경상북도 경산시 하양읍" required>
                  </div>
                  <div class="col-12">
                    <label for="inputAddress2" class="form-label">상세주소</label>
                    <input type="text" name="get_addr_detail" class="form-control" id="inputAddress2" placeholder="아파트 동 호수" required>
                  </div>
                  <!-- <div class="col-md-12">
                    <label for="inputState" class="form-label">배송 메모</label>
                    <select id="inputState" class="form-select">
                      <option selected>배송메모를 선택해 주세요.</option>
                      <option>빠른 배송 부탁드립니다.</option>
                      <option>배송 전 연락 바랍니다.</option>
                    </select>
                  </div> -->
              </div>
            </div>
  
        </div>

        <div class="col-lg-4">

          <!-- 최종 결제 금액 -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">최종 결제금액</h5>

              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th scope="row">상품가격</th>
                    <td><%=sumPrice%></td>
                  </tr>
                  <tr>
                    <th scope="row">배송비</th>
                    <td>3000</td>
                  </tr>
                </tbody>
              </table><hr/>
              <span>총 결제금액</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;<span><%=sumPrice + 3000%>원</span> 
            </div>
          </div>

          <!-- 결제방법 -->
          <!-- <div class="card">
            <div class="card-body">
              <h5 class="card-title">결제 방법</h5>

              <form class="row g-3">
                <div class="col-md-12">
                  <label for="inputName5" class="form-label">Your Name</label>
                  <input type="text" class="form-control" id="inputName5">
                </div>
                <div class="col-md-6">
                  <label for="inputEmail5" class="form-label">Email</label>
                  <input type="email" class="form-control" id="inputEmail5">
                </div>
                <div class="col-md-6">
                  <label for="inputPassword5" class="form-label">Password</label>
                  <input type="password" class="form-control" id="inputPassword5">
                </div>
                <div class="col-12">
                  <label for="inputAddress5" class="form-label">Address</label>
                  <input type="text" class="form-control" id="inputAddres5s" placeholder="1234 Main St">
                </div>
                <div class="col-12">
                  <label for="inputAddress2" class="form-label">Address 2</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="col-md-6">
                  <label for="inputCity" class="form-label">City</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-4">
                  <label for="inputState" class="form-label">State</label>
                  <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label for="inputZip" class="form-label">Zip</label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Check me out
                    </label>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form>

            </div>
          </div> -->

          <!-- 결제 -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">결제</h5>

              <form class="row g-3" method="post">
                <!-- <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      전체 동의
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      구매조건 확인 및 결제진행에 동의
                    </label>
                  </div>
                </div> -->
              </form>
              <div class="text-center">
                <button type="submit" id="purchase_btn" class="btn btn-primary">결제하기</button>
              </div>

            </div>
          </div>

        </div>

        
      </div>
    </section>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <!-- 결제 API -->
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
  
  <script>
    window.onload = function(){
        $("#purchase_btn").click(function () {
          if (confirm("결제하시겠습니까?") == true) {
            var IMP = window.IMP; 
              IMP.init('imp52784676'); 
              IMP.request_pay({
                pg : "kakaopay", 
                  pay_method : 'card',
                  merchant_uid : 'merchant_' + new Date().getTime(),
                  name : '결제',
                  amount : 1,
                  buyer_email : '구매자 이메일',
                  buyer_name : '구매자 이름',
                  buyer_tel : '구매자 번호',
                  buyer_addr : '구매자 주소',
                  buyer_postcode : '구매자 주소',
                  m_redirect_url : 'redirect url'
              }, function(rsp) {
                  if (rsp.success) {
                      var msg = '결제가 완료되었습니다.';
                      location.href='#';
                  } else {
                      var msg = '결제에 실패하였습니다.';
                      rsp.error_msg;
                      
                  }
              });
          } else {
            return;
          };
        });
      }
    </script>


</body>